/* Declaración de codificación de caracteres */
@charset "utf-8";


body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f0f8ea; /* Un verde menta suave */
    color: #555;
}

header {
    padding: 0; /* Eliminamos el padding del header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto; /* Ajustamos la altura automáticamente según la imagen */
}

.banner {
    width: 80%; /* O el ancho que desees para el banner */
    height:150px; /* Una altura inicial, ajústala según tu imagen */
    background-size: cover;
    background-position: center;
    border-radius: 0;
    display: flex; /* Para centrar contenido sobre la imagen si es necesario */
    justify-content: center;
    align-items: center;
    color: white; /* Color del texto sobre la imagen */
    font-size: 2em; /* Tamaño del texto sobre la imagen */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para el texto */
}

.banner h1 {
    margin: 0; /* Elimina el margen predeterminado del h1 */
}

.logo {
    padding: 30px; /* Espacio alrededor del logo */
}

.logo img {
    max-height: 150px;
}

nav {
    padding: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
    background-color: #e0f2f7; /* Un celeste muy claro */
}

.boton {
    background-color: #f5c6cb; /* Un rosa empolvado */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #e3a8ad;
}

main {
    padding: 20px;
}

.texto-principal {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    
    
}

footer {
    background-color: #b8c0ff; /* Un lila suave */
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0px;
    width:100%;
}
.imagenes_paginas {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    align-items: center; /* Alinea verticalmente los elementos al centro (opcional) */
  }
  
  .icono_redes {
    width: 30px; /* Ajusta el tamaño deseado */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-left: 10px; /* Ajusta el espacio entre los iconos */
  }
  
  /* Opcional: Para el primer icono no tener margen a la izquierda */
  .icono-redes:first-child {
    margin-left: 0;
  }

