<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso Legal</title>
    <link rel="stylesheet" type="text/css" href="../CSS/styles.css">
</head>
<body>
    <header>
        <br>
        <img class="banner" src="../imagenes/banner.png" alt="Banner">
        <a href="../index.html"><div class="logo"><img src="../imagenes/icono.png" alt="Icono"></div></a>
    </header>

    <main>
        <section class="texto-principal">
            <h2>Aviso Legal</h2>

            <h3>1. Datos Identificativos</h3>
            <p>
                En cumplimiento con el deber de información recogido en el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico, a continuación, se reflejan los siguientes datos:
            </p>
            <ul>
                <li><strong>Titular:</strong> [CreatorWebSite]</li>
                <li><strong>Domicilio Social:</strong> Calle Alfonso XIII, 41009, Sevilla</li>
                <li><strong>C.I.F/N.I.F:</strong> [302520225L]</li>
                <li><strong>Correo Electrónico de Contacto:</strong> [webdiagnoticsite@webcreator.es]</li>
                <li><strong>Teléfono de Contacto:</strong> [650403070]</li>
            </ul>

            <h3>2. Condiciones de Uso</h3>
            <p>
                La utilización del sitio web atribuye la condición de Usuario e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal. El Usuario se compromete a utilizar el sitio web de conformidad con la ley, el presente Aviso Legal, las Condiciones Particulares de ciertos Servicios y demás avisos, reglamentos e instrucciones puestos en su conocimiento, así como con la moral y las buenas costumbres generalmente aceptadas y el orden público.
            </p>

            <h3>3. Propiedad Intelectual e Industrial</h3>
            <p>
                Todos los contenidos del sitio web, incluyendo, a título enunciativo pero no limitativo, los textos, fotografías, gráficos, imágenes, iconos, tecnología, software, links y demás contenidos audiovisuales o sonoros, así como su diseño gráfico y códigos fuente (en adelante, los "Contenidos"), son propiedad intelectual e industrial de [webcreatorsoftware] o de terceros, sin que puedan entenderse cedidos al Usuario ninguno de los derechos de explotación sobre los mismos más allá de lo estrictamente necesario para el correcto uso del sitio web.
            </p>
            <p>
                Queda expresamente prohibida la reproducción, distribución y la comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los Contenidos, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización expresa y por escrito de [webcreatorsoftware]. El Usuario se compromete a respetar los derechos de Propiedad Intelectual e Industrial titularidad de [webcreatorsoftware].
            </p>

            <h3>4. Exclusión de Responsabilidad</h3>
            <p>
                [webcreatorsoftware] no se hace responsable, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a título enunciativo: errores u omisiones en los contenidos, falta de disponibilidad del portal o la transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.
            </p>

            <h3>5. Enlaces (Links)</h3>
            <p>
                En el caso de que en el sitio web se dispusiesen enlaces o hipervínculos hacia otros sitios de Internet, [webcreatorsoftware] no ejercerá ningún tipo de control sobre dichos sitios y contenidos. En ningún caso [webcreatorsoftware] asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a un sitio web ajeno, ni garantizará la disponibilidad técnica, calidad, fiabilidad, exactitud, amplitud, veracidad, validez y constitucionalidad de cualquier material o información contenida en ninguno de dichos hipervínculos u otros sitios de Internet.
            </p>

            <h3>6. Protección de Datos</h3>
            <p>
                En cumplimiento con la normativa vigente en materia de Protección de Datos, 
            </p>

            <h3>7. Legislación Aplicable y Jurisdicción</h3>
            <p>
                Las relaciones entre [webcreatorsoftware] y el Usuario se regirán por la normativa española vigente y cualquier controversia se someterá a los Juzgados y Tribunales de la ciudad de Sevilla.
            </p>
            <br><br>
        </section>
    </main>

    <footer>
        <div class="footer-left">
            <p>&copy; 2025 </p>
            <p>Calle alfonso XIII 41009 sevilla</p>
            <a href="../views/aviso-legal.html">Aviso Legal</a>
        </div>
        <div class="imagenes_paginas">
            <a href="https://www.facebook.com/?locale=es_ES"><img class="icono_redes" src="../imagenes/face.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/"><img class="icono_redes" src="../imagenes/instagram.png" alt="Instagram"></a>
            <a href="https://x.com/home?lang=es"><img  class="icono_redes" src="../imagenes/x.png" alt="Twitter"></a>
        </div>
    </footer>
</body>
</html>