<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="NOFOLLOW">
        <meta name="Author" content="Gabriel">
        <meta name="lang" content="es">
        <title>CONTACTOS</title>
        <link rel="stylesheet" type="text/css" href="../CSS/styles.css">
        
<body>
    <header>
        <br>
		<img class="banner" src="../imagenes/banner.png">
        </div>
        <div class="logo">
            <img src="../imagenes/icono.png">
        </div>
    </header>
    <nav>
    <a href="../index.html"><button class="boton">Inicio</button></a>
    <a href="../views/contacto.html"><button class="boton active">Contacto</button></a>
    <a href="../views/presupuestos.html"><button class="boton">Presupuesto</button></a>
    <a href="../views/productos.html"><button class="boton">productos</button></a>        
    </nav>

    <main>
        <section class="texto-principal">
            <p>Somos una empresa resmponsable del sector que nos corresponde. nuestros medios de contato son los siguientes:
              <br>
        </section>
        <P>CORREO ELECTRONICO:correoprueba@suggest.es</P>
        <p>TELEFONO: 666 666 666</p>
    <section>
    <img class="mapa" src="../imagenes/map.png">
    
    </section>
</main>
<br>
<footer>
    <p>&copy; 2025 </p>
    <p>Calle alfonso XIII 41009 sevilla</p>
    <div class="imagenes_paginas">
        <a href="https://www.facebook.com/?locale=es_ES"><img class="icono_redes" src="imagenes/face.png" alt="face"></a>
        <a href="https://www.instagram.com/"><img class="icono_redes" src="../imagenes/instagram.png" alt="instagram"></a>
        <a href="https://x.com/home?lang=es"><img  class="icono_redes" src="../imagenes/x.png" alt="x"></a>
    </div>
    <a href="aviso-legal.html">Aviso Legal</a>  </footer>
</body>
</html>