<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="NOFOLLOW">
        <meta name="Author" content="Gabriel">
        <meta name="lang" content="es">
        <title>PRODUCTOS</title>
        <link rel="stylesheet" type="text/css" href="../CSS/styles.css">
        <link rel="icon" type="imae/x-icon" href="/imagenes/icono.png"
    </head>
    <body>
        <header>
            <img class="banner" src="../imagenes/banner.png" alt="Banner">
            <div class="logo">
                <img src="../imagenes/icono.png" alt="Logo">
            </div>
        </header>
        <nav>
            <a href="../index.html" class="boton">Inicio</a>
            <a href="../views/contacto.html" class="boton">Contacto</a>
            <a href="../views/presupuestos.html" class="boton">Presupuesto</a>
            <a href="../views/productos.html" class="boton active">Productos</a>
        </nav>

        <main>
            <section id="seccion-productos">
                <div class="producto">
                    <img src="../imagenes/producto1.png" alt="Producto 1">
                    <h3>Páginas web</h3>
                    <p>Creación de páginas web desde cero con soporte de atención
                        al cliente 20/7.</p>
                    <ul>
                        <li>Presupuesto variable en función de petición del
                            cliente y atención primaria.</li>

                        <li><b>PRECIO: 60 €</b></li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="../imagenes/producto2.png" alt="Producto 2">
                    <h3>Desarrollo de aplicaciones</h3>
                    <p>Programas diseñados desde cero para su desarrollo web.</p>
                    <ul>
                        <li>Diseñamos programas desde 0 a partir de herramientas
                            únicas y lenguaje limpio y completo.</li>

                        <li><b>PRECIO: 150 €</b></li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="../imagenes/producto3.png" alt="Producto 3">
                    <h3>Desarrollo web</h3>
                    <p>Desarrollo de páginas web a través de herramientas como
                        WIX o WordPress.</p>
                    <ul>
                        <li>Utilizaremos herramientas avanzadas de gestión y
                            fácil manipulación por el usuario con atención 20/7.</li>

                        <li><b>PRECIO: 180 €</b></li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="../imagenes/producto4.png" alt="Producto 4">
                    <h3>Estrategias de marketing</h3>
                    <p>Usamos estrategias actualizadas de marketing para que tu
                        página web o tienda esté en los más altos estándares.</p>
                    <ul>
                        <li>Usaremos las últimas herramientas actuales que
                            existen en lenguajes de programación.</li>

                        <li><b>PRECIO: 385 €</b></li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="../imagenes/producto5.png" alt="Producto 5">
                    <h3>Desarrollo de APIs</h3>
                    <p>Desarrollo de API para aplicaciones específicas.</p>
                        <ul>
                            <li>Usamos aplicaciones específicas y lenguajes
                                específicos a través del machine learning.</li>

                            <li><b>PRECIO: 125 €</b></li>
                        </ul>
                    </div>
                    <div class="producto">
                        <img src="../imagenes/producto6.png" alt="Producto 6">
                        <h3>Web designer</h3>
                        <p>Desarrollo de páginas web y enfoque profesional.</p>
                        <ul>
                            <li>Enfoque profesional y profundizado.</li>

                            <li><b>PRECIO: 140 €</b></li>
                        </ul>
                    </div>
                    <div class="producto">
                        <img src="../imagenes/producto7.png" alt="Producto 7">
                        <h3>Clases de programación básica</h3>
                        <p>Estudiaremos los principales lenguajes de
                            programación y fundamentos con la hoja de estilos.</p>
                        <ul>
                            <li>Aprenderemos las bases de la programación con
                                sus lenguajes principales.</li>
                            <li>Aprenderemos a usar los lenguajes de HTML y
                                CSS.</li>

                            <li><b>PRECIO: 1420 €</b></li>
                        </ul>
                    </div>
                    <div class="producto">
                        <img src="../imagenes/producto8.png" alt="Producto 8">
                        <h3>Clases de programación avanzada</h3>
                        <p>Esta es más avanzada, puesto que aquí estudiaremos
                            los fundamentos básicos y avanzados de programación.</p>
                        <ul>
                            <li>Aprenderemos la lógica de una página web y su
                                estructura.</li>

                            <li>Usaremos los lenguajes más avanzados como son
                                Python, PHP y JAVASCRIPT.</li>

                            <li><b>PRECIO: 2000 €</b></li>
                        </ul>
                    </div>
                    <div class="producto">
                        <img src="../imagenes/producto9.png" alt="Producto 9">
                        <h3>SEO</h3>
                        <p>Posicionamiento de tu página web en los más altos
                            estándares y lo más optimizado.</p>
                        <ul>
                            <li>Usaremos las herramientas más avanzadas de
                                posicionamiento para que tu página web sea lo
                                más completa y optimizada.</li>

                            <li><b>PRECIO: 2500 €</b></li>
                        </ul>
                    </div>
                    <div class="producto">
                        <img src="../imagenes/producto10.png" alt="Producto 10">
                        <h3>Code analyzer</h3>
                        <p>Analizamos tu página web o aplicación en busca de
                            fallos posibles o grietas de seguridad.</p>
                        <ul>
                            <li>Usaremos estrategias de fuerza bruta para buscar
                                la originalidad del problema y posibles problemas
                                que no se hayan notado.</li>
                            <li>Realizamos diagnóstico en remoto o
                                presencial.</li>
                            <li><b>PRECIO: 890 €</b></li>
                        </ul>
                    </div>
                </section>
            </main>

           <footer>
        <div class="footer-left">
            <p>&copy; 2025 </p>
            <p> Av. de Hytasa, 71, 41006 Sevilla </p>
            <a href="../views/aviso-legal.html">Aviso Legal</a>
        </div>
        <div class="imagenes_paginas">
            <a href="https://www.facebook.com/?locale=es_ES" class="icono_redes_container">
                <div class="icono_redes_circulo"></div>
                <img class="icono_redes" src="../imagenes/face.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/" class="icono_redes_container">
                <div class="icono_redes_circulo"></div>
                <img class="icono_redes" src="../imagenes/instagram.png" alt="Instagram">
            </a>
            <a href="https://x.com/home?lang=es" class="icono_redes_container">
                <div class="icono_redes_circulo"></div>
                <img class="icono_redes" src="../imagenes/x.png" alt="Twitter">
            </a>
        </div>
    </footer>
        </body>
    </html>