<!DOCTYPE html> <!-- Define el tipo de documento como HTML5 -->
<html lang="es">
    <!-- Elemento raíz del documento, establece el idioma a español -->

    <head>
        <!-- Contiene metadatos sobre el documento HTML, no visibles en la página -->
        <meta charset="UTF-8">
        <!-- Especifica la codificación de caracteres del documento como UTF-8 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Configura la ventana gráfica para que la web sea responsive -->
       <meta name="robots" content="NOFOLLOW">
       <!--Hace que los robot no sigan la pagina web-->
        <meta name="Author" content="Gabriel">
        <!-- Define el autor del documento -->
        <title>PRODUCTOS</title>
        <!-- Establece el título que se muestra en la pestaña o barra de título del navegador -->
        <link rel="stylesheet" type="text/css" href="../CSS/styles.css">
        <!-- Enlaza una hoja de estilos CSS externa para dar formato a la página -->
        <link rel="icon" type="image/x-icon" href="../imagenes/icono.png">
        <!-- Define el icono (favicon) que se muestra en la pestaña del navegador -->
    </head>
    <body> <!-- Contiene todo el contenido visible de la página web -->
        <header> <!-- Sección de encabezado de la página -->
            <img class="banner" src="../imagenes/banner.png" alt="Banner">
            <!-- Muestra una imagen de banner -->
            <div class="logo"> <!-- Contenedor para el logotipo -->
                <img src="../imagenes/icono.png" alt="Logo">
                <!-- Muestra la imagen del logotipo -->
            </div>
        </header>
        <nav> <!-- Sección de navegación principal del sitio -->
            <a href="../index.html" class="boton">Inicio</a>
            <!-- Enlace a la página de Inicio -->
            <a href="../views/contacto.html" class="boton">Contacto</a>
            <!-- Enlace a la página de Contacto -->
            <a href="../views/presupuestos.html" class="boton">Presupuesto</a>
            <!-- Enlace a la página de Presupuesto -->
            <a href="../views/productos.html" class="boton active">Productos</a>
            <!-- Enlace a la página actual (Productos), con clase 'active' para posible estilo distintivo -->
        </nav>

        <main> <!-- Contenido principal y central de la página -->
            <section id="seccion-productos">
                <!-- Define una sección específica para mostrar los productos -->
                <!-- Inicio de la descripción de un producto individual -->
                <div class="producto">
                    <!-- Contenedor para la información de un producto -->
                    <img src="../imagenes/producto1.png" alt="Producto 1">
                    <!-- Imagen representativa del producto 1 -->
                    <h3>Páginas Web</h3>
                    <!-- Título del producto: Páginas Web -->
                    <p>Creación de páginas web desde cero con soporte de
                        atención
                        al cliente 20/7.</p>
                    <!-- Descripción breve del producto -->
                    <ul>
                        <!-- Lista no ordenada de características o detalles del producto -->
                        <li>Presupuesto variable en función de la petición del
                            cliente y atención primaria.</li>
                        <!-- Característica del producto -->

                        <li><b>PRECIO: 60 €</b></li>
                        <!-- Precio del producto, con la palabra "PRECIO" en negrita -->
                    </ul>
                </div>
                <!-- Fin de la descripción de un producto individual -->

                <!-- Inicio de la descripción de otro producto individual -->
                <div class="producto">
                    <img src="../imagenes/producto2.png" alt="Producto 2">
                    <!-- Imagen representativa del producto 2 -->
                    <h3>Desarrollo de Aplicaciones</h3>
                    <!-- Título del producto: Desarrollo de Aplicaciones -->
                    <p>Programas diseñados desde cero para su desarrollo
                        web.</p> <!-- Descripción breve del producto -->
                    <ul>
                        <li>Diseñamos programas desde 0 a partir de herramientas
                            únicas y lenguaje limpio y completo.</li>
                        <!-- Característica del producto -->

                        <li><b>PRECIO: 150 €</b></li>
                        <!-- Precio del producto -->
                    </ul>
                </div>
                <!-- Fin de la descripción de otro producto individual -->

                <div class="producto">
                    <img src="../imagenes/producto3.png" alt="Producto 3">
                    <!-- Imagen representativa del producto 3 -->
                    <h3>Desarrollo Web</h3>
                    <!-- Título del producto: Desarrollo Web -->
                    <p>Desarrollo de páginas web a través de herramientas como
                        WIX o WordPress.</p>
                    <!-- Descripción breve del producto -->
                    <ul>
                        <li>Utilizaremos herramientas avanzadas de gestión y
                            fácil manipulación por el usuario con atención
                            20/7.</li> <!-- Característica del producto -->

                        <li><b>PRECIO: 180 €</b></li>
                        <!-- Precio del producto -->
                    </ul>
                </div>
                <div class="producto">
                    <img src="../imagenes/producto4.png" alt="Producto 4">
                    <!-- Imagen representativa del producto 4 -->
                    <h3>Estrategias de Marketing</h3>
                    <!-- Título del producto: Estrategias de Marketing -->
                    <p>Usamos estrategias actualizadas de marketing para que tu
                        página web o tienda esté en los más altos
                        estándares.</p> <!-- Descripción breve del producto -->
                    <ul>
                        <li>Usaremos las últimas herramientas actuales que
                            existen en lenguajes de programación.</li>
                        <!-- Característica del producto -->

                        <li><b>PRECIO: 385 €</b></li>
                        <!-- Precio del producto -->
                    </ul>
                </div>
                <div class="producto">
                    <img src="../imagenes/producto5.png" alt="Producto 5">
                    <!-- Imagen representativa del producto 5 -->
                    <h3>Desarrollo de APIs</h3>
                    <!-- Título del producto: Desarrollo de APIs -->
                    <p>Desarrollo de API para aplicaciones específicas.</p>
                    <!-- Descripción breve del producto -->
                    <ul>
                        <li>Usamos aplicaciones específicas y lenguajes
                            específicos a través del machine learning.</li>
                        <!-- Característica del producto -->

                        <li><b>PRECIO: 125 €</b></li>
                        <!-- Precio del producto -->
                    </ul>
                </div>
                <div class="producto">
                    <img src="../imagenes/producto6.png" alt="Producto 6">
                    <!-- Imagen representativa del producto 6 -->
                    <h3>Web Designer</h3>
                    <!-- Título del producto: Web Designer -->
                    <p>Desarrollo de páginas web y enfoque profesional.</p>
                    <!-- Descripción breve del producto -->
                    <ul>
                        <li>Enfoque profesional y profundizado.</li>
                        <!-- Característica del producto -->

                        <li><b>PRECIO: 140 €</b></li>
                        <!-- Precio del producto -->
                    </ul>
                </div>
                <div class="producto">
                    <img src="../imagenes/producto7.png" alt="Producto 7">
                    <!-- Imagen representativa del producto 7 -->
                    <h3>Clases de Programación Básica</h3>
                    <!-- Título del producto: Clases de Programación Básica -->
                    <p>Estudiaremos los principales lenguajes de
                        programación y fundamentos con la hoja de estilos.</p>
                    <!-- Descripción breve del producto -->
                    <ul>
                        <li>Aprenderemos las bases de la programación con
                            sus lenguajes principales.</li>
                        <!-- Característica del producto -->
                        <li>Aprenderemos a usar los lenguajes de HTML y
                            CSS.</li> <!-- Característica del producto -->

                        <li><b>PRECIO: 1420 €</b></li>
                        <!-- Precio del producto -->
                    </ul>
                </div>
                <div class="producto">
                    <img src="../imagenes/producto8.png" alt="Producto 8">
                    <!-- Imagen representativa del producto 8 -->
                    <h3>Clases de Programación Avanzada</h3>
                    <!-- Título del producto: Clases de Programación Avanzada -->
                    <p>Ésta es más avanzada, puesto que aquí estudiaremos
                        los fundamentos básicos y avanzados de programación.</p>
                    <!-- Descripción breve del producto -->
                    <ul>
                        <li>Aprenderemos la lógica de una página web y su
                            estructura.</li>
                        <!-- Característica del producto -->

                        <li>Usaremos los lenguajes más avanzados como son
                            Python, PHP y JavaScript.</li>
                        <!-- Característica del producto -->

                        <li><b>PRECIO: 2000 €</b></li>
                        <!-- Precio del producto -->
                    </ul>
                </div>
                <div class="producto">
                    <img src="../imagenes/producto9.png" alt="Producto 9">
                    <!-- Imagen representativa del producto 9 -->
                    <h3>SEO</h3> <!-- Título del producto: SEO -->
                    <p>Posicionamiento de tu página web en los más altos
                        estándares y lo más optimizado.</p>
                    <!-- Descripción breve del producto -->
                    <ul>
                        <li>Usaremos las herramientas más avanzadas de
                            posicionamiento para que tu página web sea lo
                            más completa y optimizada.</li>
                        <!-- Característica del producto -->

                        <li><b>PRECIO: 2500 €</b></li>
                        <!-- Precio del producto -->
                    </ul>
                </div>
                <div class="producto">
                    <img src="../imagenes/producto10.png" alt="Producto 10">
                    <!-- Imagen representativa del producto 10 -->
                    <h3>Code Analyzer</h3>
                    <!-- Título del producto: Code Analyzer -->
                    <p>Analizamos tu página web o aplicación en busca de
                        fallos posibles o grietas de seguridad.</p>
                    <!-- Descripción breve del producto -->
                    <ul>
                        <li>Usaremos estrategias de fuerza bruta para buscar
                            la originalidad del problema y posibles problemas
                            que no se hayan notado.</li>
                        <!-- Característica del producto -->
                        <li>Realizamos diagnóstico en remoto o
                            presencial.</li>
                        <!-- Característica del producto -->
                        <li><b>PRECIO: 890 €</b></li>
                        <!-- Precio del producto -->
                    </ul>
                </div>
            </section>
        </main>

        <footer> <!-- Sección de pie de página del sitio -->
            <div class="footer-left">
                <!-- Contenedor para la parte izquierda del pie de página -->
                <p>&copy; 2025 </p> <!-- Información de copyright -->
                <p> Av. de Hytasa, 71, 41006 Sevilla </p>
                <!-- Dirección física -->
                <a href="../views/aviso-legal.html">Aviso Legal</a>
                <!-- Enlace a la página de Aviso Legal -->
            </div>
            <div class="imagenes_paginas">
                <!-- Contenedor para los iconos de redes sociales -->
                <a href="https://www.facebook.com/?locale=es_ES"
                    class="icono_redes_container">
                    <!-- Enlace al perfil de Facebook -->
                    <div class="icono_redes_circulo"></div>
                    <!-- Elemento div, probablemente para estilizar el fondo del icono -->
                    <img class="icono_redes" src="../imagenes/face.png"
                        alt="Facebook"> <!-- Icono de Facebook -->
                </a>
                <a href="https://www.instagram.com/"
                    class="icono_redes_container">
                    <!-- Enlace al perfil de Instagram -->
                    <div class="icono_redes_circulo"></div>
                    <!-- Elemento div, probablemente para estilizar el fondo del icono -->
                    <img class="icono_redes" src="../imagenes/instagram.png"
                        alt="Instagram"> <!-- Icono de Instagram -->
                </a>
                <a href="https://x.com/home?lang=es"
                    class="icono_redes_container">
                    <!-- Enlace al perfil de X (antes Twitter) -->
                    <div class="icono_redes_circulo"></div>
                    <!-- Elemento div, probablemente para estilizar el fondo del icono -->
                    <img class="icono_redes" src="../imagenes/x.png"
                        alt="Twitter"> <!-- Icono de X (Twitter) -->
                </a>
            </div>
        </footer>
    </body>
</html>